<article class="post">
  <div class="full-post">
    <div class="content">
      <div class="title">
        <div class="creator">
        
        <a href="/post/{{id}}" class="ref">{{title}}</a>
            <div id="created-by">Created by:
            <b>{{user.username}}</b>
            on
            <b>{{format_date created_at}}</b>
            </div>
        </div>
      </div>
    </div>
    <div class="content-article">
      <p>{{content}}</p>
    </div>
  </div>
</article>