<article class="post">
    <div class="full-post">
        <div class="content">
        <div class="title">
            <a href="/post/{{id}}" class="ref">{{title}}</a>
        </div>
        <div class="creator">
            <p id="created-by">
                Created by: <b>{{user.username}}</b> on <b>{{format_date created_at}}</b>
                </p>
        </div>
    </div>
    <div class="content-article">
        <p>{{content}}</p>
    </div>
    </div>
    </article>